div.container  {
    display: flex;
    width: 960px;
    height: 960px;
    background-color: mediumseagreen;
    flex-wrap: wrap;
    gap: 1px;
    border: 1px solid mediumaquamarine;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

div.screen    {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 75px;
    background-color: red;
    border-radius: 30px;
    box-shadow: 15px 10px 10px black;
}

div.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0;
}

button  {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;

}
div.grid    {
   
    padding: 1px;
    background-color:mintcream;
    color: orange;
    flex: auto;
}

div.column  {

  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

input {

   margin: auto;
}

img {
    
    height: 15px;
    width: 15px;
}

button.selected {
    background-color: mediumseagreen;
}

.sliderContainer    {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: mintcream;
    border-radius: 5px;
    margin: 100px 0;
}